<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IO 1 SEMESTRE 2024 SIMPLEX</title>
</head>
<body>
    <section Pagina>
        <h1>Simplex</h1>
        <section class="Datos"> 

            <section class = "formulario">
                <h2>Formulario de datos</h2>
                <form>
                    <div>
                        <label for="variables">Cantidad de Variables:</label>
                        <input type="number" id="variables" name="variables" [(ngModel)]="variables" min="0">
                    </div>
                    <div>
                        <label for="restricciones">Cantidad de Restricciones:</label>
                        <input type="number" id="restricciones" name="restricciones" [(ngModel)]="restricciones" min="0">
                    </div>
                    <div>
                        <label for="objetivo">Funcion Objetivo:</label>
                        <select id="objetivo" name="objetivo" [(ngModel)]="objetivo">
                            <option value="maximizar">Maximizar</option>
                            <option value="minimizar">Minimizar</option>
                        </select>
                    </div>
                    
                    <button type="submit">Continuar</button>
                </form>
            </section>
        </section>
    </section>
</body>
</html>
